body {
    background: #444447;
    position: absolute;
}
.buttonmob{
            visibility: hidden;
    width: 0px;
    height: 0px;
}
.mobile{
        visibility: hidden;
    width: 0px;
    height: 0px;
}

.header {
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    display: grid;
    grid-template-rows: 110px 60px;
}

.up {
    height: 110px;
    display: grid;
    grid-template-columns: 14% 40% 30%;
}

.header .wreath img {
    height: 100px;
    margin: 5px 5px;
    margin-left: 60%;
    left: 0;
}

.ten {
    margin-left: 5%;
}

.title {
    margin-left: 50%;
}

.down {
    background: #747477;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.nav li {
    display: inline;
}

.nav ul a:hover {
    background: #64646c;
    transition: 0.2s;
    border: 1px solid #c6c6ce;
}

.header ul li:hover>a {
    border: 1px solid #c6c6ce;
    background: #64646c;
    transition: 0.2s;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 14px 90px;
    text-shadow: 1px 1px 5px black;
}


.nav ul li ul {
    position: absolute;
    left: 0;
    top: 24px;
    z-index: 9;
    width: 115px;
    margin: 0;
    padding: 0;
    display: none;
    text-align: center;
}

.nav ul li:hover ul {
    display: block;
    transition: 0.2s;
}

.nav ul li ul li {
    display: block;
    width: 264px;
    margin: 0 0 0px 0;
    top: 10px;
    left: 0;
    background: #747477;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #c6c6ce;
    border-top: 0;
}

.nav ul li ul li a {
    border-radius: 0;
    padding: 0px;
}


.nav ul li ul li:hover {
    background: #64646c;
}

.nav ul li {
    margin-top: -10px;
    position: relative;
    z-index: 2;
}

#myBtn { 
display: none; 
position: fixed; 
bottom: 15%; 
right: 25px; 
z-index: 99; 
border: none; 
outline: none; 
background-color: #000b2b; 
color: white; 
cursor: pointer; 
width: 50px; 
height: 50px; 
border-radius: 50%; 
padding: 0; 
} 

#myBtn img { 
width: 50px; 
height: 50px; 
} 

#myBtn:hover { 
background-color: white; 
}



.main {
    height: 100%;
    background: #747477;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-top: 153px;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 25%;
}


/*position: absolute;
	top: 0;
	left: 0;
	z-index: -999;*/

.main .content {
    background: #939396;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin: 10px 7% 10px 5%;
}

.main .head {
    font-size: 20px;
    color: #cb9b19;
    text-shadow: 1px 2px 7px black;
    margin: 0 0 0 3%;
}

.photo {
    box-shadow: 0 0 15px 1px white;
    padding: 11px;
    margin: 40px 4% 70px 7%;
}

.vote {
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0 5% 0 4%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


.winer1 img {
    width: 80%;
    height: auto;
}

.winer1 img:hover {
    background: rgba(0, 0, 0, 0.7);
}

.winer1 p {
    font-size: 17px;
    text-align: center;
    color: #fff;
    margin-left: -18%;
}

.button1 {
    background-color: #a9a9ab;
    border: none;
    color: black;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 1%;
    cursor: pointer;
    box-shadow: inset 0 0 15px 0px black;
}

.button1:hover {
    color: white;
    box-shadow: inset 0 0 50px 5px black;
}





.photo h1 {
    color: #fff;
    font-size: 31px;
    margin: 15px 0 30px 1%;
}



.fix {
    width: 25%;
    display: grid;
    grid-template-rows: 8% 5% 8% 5%;
}

.main .begin {
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 5px black;
    margin: 16px 0 0 10%;
}

.timer {
    display: grid;
    grid-template-columns: repeat(7,45px);
    margin: 0px 0 0 -10%;
    text-align: center;
    color: #333;
    text-shadow: 2px 3px 7px black;
    font-family: fantasy;
    font-size: 40px;
    cursor: default;
}



.timer div {
    display: inline;
}

.name p {
    margin: 0px;
}

.name {
    height: 10px;
    display: grid;
    grid-template-columns: 11% 10% 12% 10%;
    column-gap: 15%;
    margin: 5px 0 0 -7%;
    font-size: 20px;
}


.button a {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 3px 13px black;
}

.button {
    height: 80px;
    font-size: 22px;
    background: #000;
    text-align: center;
    padding: 30px 0 0 0;
    margin: 0 20% 0 20%;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
    background: #747477;
    border-radius: 18px;
}

.button a:hover {
    color: #b58912;
    transition: 0.1s;
}




.footer {
    width: 100%;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 14% 50% 34%;
}

.footer .logo img {
    height: 55px;
    margin-top: 7px;
    margin-left: 60%;
    left: 0;
}

.footer .tit img {
    margin-top: 23px;
    height: 38px;
}

.footer .net img {
    height: 37px;
    margin-top: 23px;
    margin-left: 50px;
}

.net{
            display: none;
        width: 0;
        height: 0;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .mobile {
        display: inline;
    }

    .wr,
    .log {
        visibility: visible;
    }

    .log {
        width: 100px;
    }

    .nav ul {
        display: none;
        width: 0;
        height: 0;
    }

    .header img {
        display: none;
        width: 0;
        height: 0;
    }
    .log a{
  
        text-decoration: none;
        color: #fff;
    }
    .log a {
        text-decoration:none;
        color: white; 
    }
    .log {
        font-size: 27px;
        margin-top: 10px;
    }

    .wr img {
        margin-top: 5px;
        width: 45px;
    }

.buttonmob{
    width: 100%;
    z-index: 99;
    visibility: visible;
    text-align: center;
    
}
.buttonmob a {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 3px 13px black;
}

.buttonmob {
    height: 65px;
    width: 45%;
    font-size: 20px;
    background: #000;
    text-align: center;
    padding: 15px 0 0 0;
    margin:10px 20% 20px 30% ;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
    background: #747477;
    border-radius: 18px;
}

.buttonmob a:hover {
    color: #b58912;
    transition: 0.1s;
}

.mobile {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 99;
  visibility: visible;
  top: 0;
  left: 53px;
  right: -53px;
  margin: 0 auto;
    display: grid;
  grid-template-columns: 40% 38% 20%;
}

.mobile {
  height: 55px;
  margin-left: -60px; 
  position: relative;

}

.down{
    display: none;
    width: 0;
    height: 0;
}
.main{
    margin-top: 110px;
    height: 100%;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 90%;
}
.main .content {

    width: 100%;

}

.head h1{
    text-align: center;
    font-size: 26px;
    margin-bottom: -20px;
}
.photo h1{
    font-size: 25px;
}
.fix{
    display: none;
    width: 0;
    height: 0;
}

.footer{
    display: grid;
    grid-template-columns: 30% 60%;
}
.logo img{
    margin-left: 10% ;
}
.tit img{
    height: 1px;
}

#myBtn {
    bottom: 15%;
    right: 10px;
}


    #menuicon {
        margin-top: 7px;
        visibility: visible;
        width: 38px;
    }
    .menuicon {
        
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-top: -13px;
        margin-left: -25px;
    }

    .menuicon a {
        text-decoration: none;
        color:  white;
        
    }
    .menuicon ul {
        width: 50px;
    }
    .menuicon ul li {
        list-style-type: none;
        width: 65px;
        border: 0px;
        background: none;
    }
    .menuicon ul li ul {
        top: 42px;
        width: 520%;
    }
    .menuicon ul li:hover ul {
        visibility: visible;
        left: auto;
    }
    .menuicon ul li ul li a {
        border: 1px solid black;
        box-shadow: 0 0 1px;
        border-radius: 2px;
        margin: -1px;
        background-color: rgb(2, 16, 40);
        margin-top: 4px;
        height: 30px;
        font-size: 24px
    }
.button1 {
    display: inline;
    height: 40px;
    width: 90%;
    font-size: 10px;
    padding: 0px 0 0 0;
}
.winer1 p{
    font-size: 15px;
    margin:0 2%;
}


